---
import Chatgpt from '../components/Chatgpt';
import Layout from '../layouts/Layout.astro'
---

<Layout title="Peter's Website">
    <main>
        <div class="navbar">
            <h3>Peter's Website</h3>
        </div>
        <div class="intro-1">
            <h1>About Me</h1>
            <p>
                A poor 11-th grader in Yanping High School. Interested in Programming (or maybe?)<br/>
                but is fucking bad at it. Self-learning javascript and React, and extremely bad at UI<br/>
                design and css. Likes to play baseball and is a fanatic Houston Astro fan. I fucking hate<br/>
                Mandarin Chinese.<br/>
                Life is all about suffering. Life is boring. Life is truly a struggle.
            </p>
        </div>
        <div class="intro-2">
                <h1>Astros' Journal</h1>
                <p>
                    My perspective about my beloved 2017 and 2022 world series champion <b>Houston Astro</b> team.<br/>
                    Update every week (if I remember). Including brief review, special players, thoughts about<br/> the week and some intersting things happenning that week.
                </p>
        </div>
        <div class="intro-3">
            <h1>Chat-GPT</h1>
            <p>
                Type in something to ask Chat-GPT some questions.<br/>
                comming soon....
            </p>
            <Chatgpt />
    </div>

    </main>
</Layout>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Instrument+Serif:ital@1&display=swap');
    .navbar {
        background-color: #17161C;
        width: 100%;
        height: 5rem;
        position: sticky;
    }
    .navbar h3{
        color: aliceblue;
        font-size: 2.5rem;
        font-family: 'Dancing Script', cursive;
    }
    .intro-1 {
        background-color: #1F1E25;
        width: 100%;
        height: 23rem;
        padding-left: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .intro-1 h1{
        color: aliceblue;
        font-size: 4rem;
        font-family: 'Instrument Serif', serif;    
    }
    .intro-1 p {
        color: aliceblue;
        font-family: 'Instrument Serif', serif;    
        font-size: 1.3rem;
    }
    .intro-2 {
        background-color: #F4F4F2;
        border: black solid 1px;
        width: 100%;
        height: 23rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-right: 2.5rem;
    }

    .intro-2 h1{
        color: black;
        font-size: 4rem;
        font-family: 'Instrument Serif', serif; 
        margin-left: auto;
    }
    .intro-2 p {
        color: black;
        font-family: 'Instrument Serif', serif;    
        font-size: 1.3rem;
        margin-left: auto;
    }
    .intro-3 {
        background-color: #8B0000;
        width: 100%;
        height: 23rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .intro-3 h1{
        color: aliceblue;
        font-size: 4rem;
        font-family: 'Instrument Serif', serif;    
    }
    .intro-3 p {
        color: aliceblue;
        font-family: 'Instrument Serif', serif;    
        font-size: 1.3rem;
    }
    
</style>